# Entorno virtual
venv/
env/

# Archivos de entorno
*.env

# Archivos de base de datos
*.sqlite3

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales
*.log
*.pot
*.pyc
*.pyo
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Tailwind / Node
node_modules/
package-lock.json
dist/
build/
staticfiles/
*.css.map

# Archivos de Django
/static/
/media/
*.pot
*.mo

# Archivos del editor
.vscode/
.idea/
